.navbar-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(24, 24, 24, 0.8);
    padding: 10px;
}
.inner-navbar{
    margin: 10px;
    padding: 5px;
    text-decoration:none;
    color: white;
}
.inner-navbar:hover{
    background-color: white;
    padding: 5px;
    color:black;
}

